@model Gamers.Web.Models.JuegoViewModel

@{
    ViewBag.Title = "Modificacion";
    //List<SelectListItem> item = (List<SelectListItem>)ViewBag.item;
}
@section Links{
    <link href="~/Content/Lib/lightbox/css/lightbox.css" rel="stylesheet" />
}
@using (Html.BeginForm("Modificacion", "Juego", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">
                <div class="form-vertical">
                    <h4>@Model.Nombre</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Requerimientos, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Requerimientos, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Requerimientos, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FechaLanzamiento, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FechaLanzamiento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FechaLanzamiento, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoriaId, "CategoriaId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.CategoriaId, null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CategoriaId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">
                            @Html.TextBoxFor(model => model.Image, new { type = "file", Multiple = "Multiple", @class = "custom-file-input" })
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-5">
                <table class="table table-dark mt-6">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Images)
                        {
                            string imageBase64 = Convert.ToBase64String(item.Imagen);
                            string imageSrc = string.Format($"data:image/png;base64,{imageBase64}");
                            <tr id="tr_@item.Id">
                                <td>
                                    <article class="col-xs-12 col-md-6 col-lg-4">
                                        <a href="@imageSrc" class="example-image-link ml-2" data-title="@Model.Nombre" data-lightbox="Juegos">
                                            <img alt="Small lighthouse at bottom with ocean behind" class="img-thumbnail" src="@imageSrc" />
                                        </a>
                                    </article>
                                </td>
                                <td>
                                    <input type="button" value="x" class="btn  badge-pill badge-danger" onclick="image.deleteImagen(@item.Id)" />
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="row">
                    <div class="col-12">

                    </div>
                </div>


            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-outline-success" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
        </div>
    </div>
}

<div>

</div>
@section Scripts{

    <script type="text/javascript">
        var image = {
            deleteImagen: function (id) {
                console.log("id :" + id);
                $.post('/Juego/EliminarImagen/', { ImagenId: id })
                    .done(function (res) {
                        console.log(res);
                        $('#tr_' + id).remove();

                    }).fail(function (error) {
                        console.log(error);
                    });

            }
        };

    </script>
    <script src="~/Content/Lib/lightbox/js/lightbox.min.js"></script>
}